*.lock
.DS_Store
*.xcuserdatad/*
fish-tank.xcodeproj/xcuserdata/tylerbarth.xcuserdatad/xcschemes/xcschememanagement.plist

fish-tank.xcodeproj/xcuserdata/tylerbarth.xcuserdatad/xcschemes/fish-tank.xcscheme

fish-tank.xcodeproj/project.xcworkspace/xcuserdata/tylerbarth.xcuserdatad/UserInterfaceState.xcuserstate

FishTank.xcodeproj/project.xcworkspace/xcuserdata/tylerbarth.xcuserdatad/UserInterfaceState.xcuserstate

FishTank.xcodeproj/project.xcworkspace/xcuserdata/tylerbarth.xcuserdatad/WorkspaceSettings.xcsettings

FishTank.xcodeproj/xcuserdata/tylerbarth.xcuserdatad/xcschemes/fish-tank.xcscheme

FishTank.xcodeproj/xcuserdata/tylerbarth.xcuserdatad/xcschemes/xcschememanagement.plist
